{:kotoba.app/id "cloud.itonami.isic-2814", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibfp3a6a2zuluvxtdo7vpmntt2vzyjsqlhhm2kvtsm24rgcziluza", :kotoba.app/embed-url "ipfs://bafkreibfp3a6a2zuluvxtdo7vpmntt2vzyjsqlhhm2kvtsm24rgcziluza", :published {:archive "https://kotobase.net/ipfs/bafkreibfp3a6a2zuluvxtdo7vpmntt2vzyjsqlhhm2kvtsm24rgcziluza", :size 72866, :put-status 201, :get-status 200, :at "2026-08-15T13:58:24.000Z"}}
